@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

table.dataframe {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: 'Fira Code', monospace;
}

table.dataframe th, table.dataframe td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.dataframe th {
    background-color: #4CAF50;
    color: white;
}

table.dataframe tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.dataframe tr:hover {
    background-color: #ddd;
}